body {
    font-family: "Helvetica Neue";
    font-size: 12pt;
    width: 50%;
    margin: 0 auto;
    line-height: 1.4;
    color: #333333;
    background-color: #fefdfd;
}

/* #table-of-contents { */
/*     position: fixed; */
/*     right: 32px; */
/* } */

.title {
    text-align: left;
}

p, pre {
    margin-left: 16px;
    margin-right: 16px;
    /* text-align: justify; */
}

pre.src::before {
    display: none !important;
}

.src {
    font-family: "Input", "Menlo", monospace;
    font-size: 10pt;
    border: 0;
    border-radius: 2px;
    background-color: #333;
    color: white;
    padding: 12px !important;
}

li {
    list-style-type: disc;
}

li:before {
    /* content: "- "; */
}
